@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "variable.css";
@import "helpers.css";
@import "menu.css";
@import "buttons.css";


body {
  background-color: var(--body-bg-color);
  padding: 100px 90px;
  font-family: 'Open sans', sans-serif;
  font-size: var(--default-font-size);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.page {
  background-color: #fff;
  border-radius: 35px;
  padding: 30px 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.logo-container {
  border-right: 2px solid rgb(134, 133, 133);
  padding: 0 20px 0 0;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
  }
}